<div class="aspect-ratio--object bg-black-50 flex justify-center items-center no-display" id="modal-container">
  <div class="h-50 w-50 bg-white flex justify-center items-center relative tc" id="modal-content-container">
    <div id="close-modal" class="absolute top-0 right-1 f1 pointer">&times;</div>
    <div id="error-modal" class="no-display"></div>
    <div id="response-modal" class="no-display w-100 pa3 pr5 h-100 overflow-y-scroll tl"></div>
    <div id="loading-modal" class="flex w-100 flex-column justify-around pa5 no-display">
      <img src="/sailboat.svg" style="height: 50%;" />
      <p>Transferring templates to Sailthru...</p>
    </div>
  </div>
</div>
