body {
  font-family: 'proxima-nova';
  min-width: 1000px;
  min-height: 600px;
}

nav {
  height: 50px;
}

.bg-sailthru {
  background: #00CCED;
}

main {
  height: calc(100vh - 50px);
}

#acct-forms {
  min-width: 320px;
}

button {
  border: 0;
  color: white;
  min-width: 100px;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

input[type="text"] {
  border: 1px solid darkgray;
}

input[type="text"]:focus {
  border-color: #00CCED;
  transition: 200ms;
  outline:0;
}

#template-list-container {
  height: calc(100vh - 50px);
}

#template-list::-webkit-scrollbar,
#response-modal::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#template-list::-webkit-scrollbar-track,
#response-modal::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,.05);
  border-radius: 10px;
}

/* Handle */
#template-list::-webkit-scrollbar-thumb,
#response-modal::-webkit-scrollbar-track
 {
  background: darkgray;
  border-radius: 10px;
}

.no-display {
  display: none !important;
}

img {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: none;
  }
  10% {
    transform: translateY(-5px);
  }

  20% {
    transform: none;
  }

  30% {
    transform: translateY(-5px);
  }

  40% {
    transform: none;
  }

  100% {
    transform: none;
  }
}
